.login-box {
	margin-top: 50px;
	border: 1px solid black;
	padding: 20px;
	text-align: center;
}

.start-survey-box {
	margin-top: 50px;
	border: 1px solid black;
	padding: 20px;
	text-align: center;
}

.survey-box {
	margin-top: 50px;
	border: 1px
